<!DOCTYPE html>
<html lang="en">


<head>
  <meta charset="utf-8">
  <title>Local Weather</title>

   <meta name="viewport" content="width=device-width, initial-scale=1">

   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="/static/weather.css" rel="stylesheet">

    <!-- Favicon
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <link rel="icon" href="static/sun.png" type="image/gif" sizes="16x16">

</head>

<body>

<div class="container-fluid">

  <div class="row">
    <div class="col-xs-12" id="name">
      <div class="col-xs-offset-1 col-xs-11" id="welcome">
        <!-- <h1>Your Local Weather</h1> -->
      </div>

      <div class="row">
      <div class="col-xs-offset-2 col-xs-8" id="overlay-box">

        <div class="row">
        <div class="col-xs-offset-1 col-xs-11 col-md-1" id="display-temp">
          <h2>temp:</h2>
        </div>
        <div class="col-xs-offset-1 col-xs-11 col-md-2" id="display-weather">
          <h2>weather:</h2>
        </div>
        <div class="col-xs-offset-1 col-xs-11 col-md-3" id="display-humidity">
          <h2>humidity:</h2>
        </div>
        <div class="col-xs-offset-1 col-xs-11 col-md-2">
          <img id="display-icon" src="https://cdn.glitch.com/6e8889e5-7a72-48f0-a061-863548450de5%2F10n.png">
        </div>

        </div>
      </div>

      </div>


      <div class="col-xs-offset-2 col-xs-8 col-md-2" id="overlay-box2">
        <form action="">
          <input type="checkbox" id="Farenheit" value="Farenheit">Display temp in °F<br>
        </form>
      </div>


    </div>
  </div>
</div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/static/weather.js"></script>

</body>

</html>


